{% extends 'base.html' %}

{% block title %} Home {% endblock title %}

{% block header %}
    <h1>Carlos' Blog</h1>
    {% if current_user.is_authenticated %}
        <h4>Hello {{ current_user.first_name }}!</h4>
    {% else %}
        <h4>Please Sign Up or Log In to use the Blog</h4>
    {% endif %}
    
{% endblock header %}

{% block content %}

{% for post in posts %}
<div class="col-6">
            <div class="card my-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{{  post.image_url}}" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{ post.title }}</h5>
                            <h6 class="card-subtle">By: {{ post.author.username }}</h6>
                            <p class="card-text">{{ post.body}}</p>
                            <p class="card-text"><small class="text-body-secondary">Created on: {{ post.date_created.strftime('%A %b %d, %Y at %I:%m %p')}}</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
{% endblock content %}
    
    
    <!-- to show the list of posts
    {{posts}} -->