{% extends 'base.html' %}

    {% block title %} Home {% endblock title %}

    {% block header %}
            <h1>Hello World!</h1>
            <h4>Welcome {{ first_name }}</h4>
            {% if first_name=='Brian' %}
                <h5>Hello</h5>
            {% else %}
                <h5>Goodbye</h5>
            {% endif %}
    {% endblock header %}

    {% block content %}
        <ul>
            {% for num in numbers %}
                <li>{{ num }}</li>
            {% endfor %}
        </ul>
     {% endblock content %}
