{% extends 'base.html' %}

{% block title %} Sign Up {% endblock title %}

{% block header %}
    <h1>Login Here</h1>
{% endblock header %}

{% block content %}
<div class="col">
    <div class="card mt-3">
        <div class="card-body">
            <form action="" method="post">

                {{ form.csrf_token }}

                {{ form.username.label }}
                {{ form.username(class='form-control', placeholder='Enter Username') }}

                {{ form.password.label }}
                {{ form.password(class='form-control', placeholder='Enter Password') }}
        
                {{ form.submit(class='btn btn-danger mt-3')}}
        

            </form>
        </div>

    </div>
</div>

{% endblock content %}